@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-size: clamp(14px, 1.2vw, 16px);
  padding: 0;
  margin: 0;
  background: #F6F6F6;
  color: #333;
  -webkit-font-smoothing: antialiased;
  white-space: pre-line;
  font-family: "Inter", "Noto Sans Thai", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

[data-theme="dark"],
[data-theme="dark"] body {
  color: #fff;
  background: #181818;
}

[data-theme="dark"],
[data-theme="dark"] body .text-green {
  color: #33dd8b;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-no-padding {
  max-width: 1280px;
  margin: 0 auto;
}

button {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
}

.text-stroke-green {
  -webkit-text-stroke: 1px #1c8151;
}

.text-stroke-white {
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.slick-list {
  padding-top: 3.125rem !important;
}

table th,
table td {
  padding: 1.25rem;
  font-weight: 400;
}

.profile-menu-active {
  border-right: 5px solid #ED744A;
  background: linear-gradient(270deg, #1c8151 0%, rgba(28, 129, 81, 0.2) 139.92%), #ffffff;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}